@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));



@theme inline{
    --font-outfit: var(--font-outfit-var);
    --font-inter: var(--font-inter-var);

    --color-light-hover: #fcf4ff;
    --color-dark-hover: #2a004a;
    --color-dark-theme: #11001f;

    --font-sans: var(--font-outfit-var);

    --shadow-card-black: 4px 4px 0 #000;
    --shadow-card-white: 4px 4px 0 #fff;
}